---
import '../styles/global.css';
import BlogContainer from '../components/BlogContainer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog Posts";
const allPosts = await Astro.glob('./posts/*.md');
---
<html lang="en">
  <BaseLayout pageTitle={pageTitle}>
    <BlogContainer posts={allPosts} />
  </body>
</BaseLayout>
</html>