---
import Social from './Social.astro';
---
<style>
  .license-link {
    color: #00539F;
  }
</style>
<footer class="footer">
  <section class="license">
    <p>&copy; Content Hosted is Licensed Under</p>
    <p><a class="license-link" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a></p>
  </section>
</footer>