---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import Title from "./Title.astro";
---

<header class="header centered">
  <nav class="nav-container">
    <Hamburger class="hamburger" />
    <Title class="title" />
    <Navigation class="nav-links" />
  </nav>
</header>