---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
      align-self: center;
      padding: 0.5rem 1rem;
      color: #d3d3d3;
      border-radius: 10vb;
      margin: 1rem;
      background-color: #45404c9e;
      text-decoration: none;
      text-align: center;
    }
  </style>