---
const { class: className, ...rest } = Astro.props;
import ThemeIcon from "./ThemeIcon.astro";
---

<div class = {className} {...rest}  >
<div>
    <h2>Muhammad Ibrahim</h2>
</div>
<ThemeIcon class="theme-icon" />
</div>